@tailwind base;
@tailwind components;
@tailwind utilities;

$font-headings: "Playfair Display", serif;
$font-secondary: "Lato", sans-serif;

$color-bg-dark: #252525;
$color-bg-secondary-dark: #353535;
$color-bg-accent-dark: #505050;
$color-bg-light: #f7f7f7;
$color-text-dark: #ede5d8;
$color-accent-pink: #f56457;
$color-text-light: #353535;

:root {
  --serif-font: #{$font-headings};
  --font-secondary: #{$font-secondary};
  --primary-dark-bg: #{$color-bg-dark};
  --primary-light-bg: #{$color-bg-light};
  --color-text-secondary: #{$color-accent-pink};
}
// typography
h1,
h2,
h3 {
  font-family: $font-headings;
}
// * {
//   border: 1px solid green;
// }
// CTA
@mixin basic-cta-style {
  padding: 15px 25px;
  border-radius: 30px;
}

.primaryCta {
  @include basic-cta-style;
  background-color: $color-accent-pink;
  color: $color-text-dark;
}
.secondaryCta {
  @include basic-cta-style;
  border: 1px solid $color-accent-pink;
}
