@tailwind base;
@tailwind components;
@tailwind utilities;

$font-headings: "Playfair Display", serif;
$font-secondary: "Lato", sans-serif;

$color-bg-dark: #202020;
$color-secondary-gray: #353535;
$color-bg-accent-dark: #505050;
$color-bg-light: #f7f7f7;
$color-text-dark: #ede5d8;
$color-accent-pink: #f56457;
$color-text-light: #353535;
$color-bg-secondary: #353535;
$primary-text: calc(16px + (20 - 16) * ((100vw - 320px) / (2000 - 320)));

// @media screen and (prefers-color-scheme: light) {
//   $color-bg-secondary: $color-accent-pink;
// }

:root {
  --serif-font: #{$font-headings};
  --font-secondary: #{$font-secondary};
  --primary-dark-bg: #{$color-bg-dark};
  --secondary-bg: #{$color-bg-secondary};
  --primary-light-bg: #{$color-bg-light};
  --color-text-secondary: #{$color-accent-pink};
  --primary-text: #{$primary-text};
}
// typography

body {
  @apply bg-primary_white text-secondary_gray dark:bg-primary_gray dark:text-primary_white;
}

.bg-white {
  background-color: $color-bg-light;
}
h1,
h2,
h3,
h4 {
  font-family: $font-headings;
}
// * {
//   border: 1px solid green;
// }
// CTA
@mixin basic-cta-style {
  padding: 15px 25px;
}

.primaryCta {
  @include basic-cta-style;
  background-color: $color-accent-pink;
  color: $color-text-dark;
}
.secondaryCta {
  @include basic-cta-style;
  border: 1px solid $color-accent-pink;
}

//Swiper

.swiper-pagination-bullet-active {
  background-color: $color-accent-pink !important;
}
.swiper-pagination-bullet {
  width: calc(15px + (25 - 15) * ((100vw - 320px) / (2000 - 320))) !important;
  height: calc(15px + (25 - 15) * ((100vw - 320px) / (2000 - 320))) !important;
}

//animations

.fade {
  opacity: 0%;
  top: 100%;
  position: relative;
  animation: elementFadeOut 0.7s ease-in 1;
}

.fadeIn {
  position: relative;
  animation: elementFadeIn 1s 1;
}

@keyframes elementFadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

@keyframes elementFadeIn {
  0% {
    opacity: 0%;
    top: 100%;
  }
  25% {
    top: 0%;
  }
  100% {
    opacity: 100%;
  }
}
