.mainSection {
  overflow: hidden;
  // border: 1px solid red;
  margin: 0 auto;
  padding-top: 40px;
  width: 100vw;
  text-align: center;
  .e {
    display: none;
    // position: absolute;
    // width: 80vw;
    // height: 100%;
    // top: 5%;
  }

  h1 {
    span {
      display: block;
    }

    :first-child {
      font-weight: 900;
      font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (2000 - 320)));
    }
    :nth-child(2) {
      font-weight: 900;
      margin-bottom: 25px;
      font-size: calc(25px + (70 - 25) * ((100vw - 320px) / (2000 - 320)));
    }
  }

  .portraitContainer {
    position: relative;

    .visible {
    }

    .portrait {
      // position: sticky;
      top: 15%;
      // width: 60vw;
      // height: 60vw;
      margin: 0 auto;
      max-width: 300px;
      max-height: 300px;
      min-height: 300px;
      min-width: 250px;
      // border-radius: 100px 50px 175px 100px;
      clip-path: polygon(50% 0%, 100% 20%, 75% 100%, 25% 100%, 0% 40%);

      img {
        position: absolute;
        padding: 25px;
        object-fit: contain;

        background: linear-gradient(
          -65deg,
          #f1766a,
          var(--color-text-secondary),
          #23a6d5,
          #23d5ab
        );
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
      }
    }

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
  .tjenester {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
    height: 100%;
    text-align: center;
    align-items: center;

    gap: 20vh;
    .container {
      margin: 0 auto;
    }
    div {
      display: flex;
    }
    p {
    }
  }
}

.dotContainer {
  flex-flow: row;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 90%;

  img {
    margin: 0 auto;
  }
}

// CTA top section
.ctaContainer {
  width: 95%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 15px;
  margin-top: 25px;
}

// changing text animation top section
.services {
  margin-top: 25px;
  font-size: 1em;
  height: 12vh;
  //   animation: fadeIn 5s infinite;
}

.services::before {
  content: "";
  animation: changingText 8s infinite;
  font-family: var(--font-secondary);
  font-weight: 500;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

// @keyframes changingText {
//   0% {
//     content: "Med fokus på design og brukervennlighet";
//   }
//   20% {
//     content: "UX/UI";
//   }
//   40% {
//     content: "Web design";
//   }
//   60% {
//     content: "Tilgjengelighet/WCAG";
//   }
//   80% {
//     content: "Webutvikling";
//   }

//   100% {
//     content: "Med fokus på design og brukervennlighet";
//   }
// }

//skills section

.skillsSection {
  margin: 0 auto;
  margin-top: 100px;
  position: sticky;
  top: 10%;

  //   ::before {
  //     position: absolute;
  //     content: "";
  //     inset: 0;
  //     background: linear-gradient(50deg, rgba(245, 100, 87, 1) 0%, #1c3659 100%);
  //     height: 100%;
  //     background-size: 400% 400%;
  //     animation: gradient 15s linear infinite;
  //     z-index: -2;
  //   }

  h2 {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    font-size: calc(25px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
  }
  p {
    margin: 0 auto;
    width: 85%;
    max-width: 500px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.technologies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;

  div {
    height: 85px;
    width: 85px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(5) {
      max-width: 80px;
    }
    img {
      width: 100%;
      max-width: 100px;
      max-height: 100px;
    }
  }
}

//carousel

.carousel {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 10;
  width: 500px;
  width: 100vw;
  height: 100%;

  div {
    width: 100vw;
  }
  p {
    margin-bottom: 50px;
    width: 85%;
    margin: 0 auto;
    font-size: var(--primary-text);
    margin-bottom: 50px;
  }

  .h3 {
    font-weight: 100;
    font-style: italic;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 85%;

    font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (2000 - 320)));
  }
}
