.mainSection {
  width: 85%;
  margin: 0 auto;
  padding-top: 40px;
  height: 100vh;
  text-align: center;

  h1 {
    span {
      display: block;
    }

    :first-child {
      font-size: 1.5em;
      font-weight: 900;
    }
    :nth-child(2) {
      font-size: 2.5em;
      font-weight: 900;
      margin-bottom: 25px;
    }
  }
}

.dotContainer {
  flex-flow: row;
  justify-content: center;
  margin-top: 25px;

  img {
    margin: 0 auto;
  }
}

// CTA top section
.ctaContainer {
  width: 95%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 15px;
  margin-top: 25px;
}

// changing text animation top section
.services {
  margin-top: 25px;
  font-size: 1em;
  height: 12vh;
  //   animation: fadeIn 5s infinite;
}

.services::before {
  content: "";
  animation: changingText 8s infinite;
  font-family: var(--font-secondary);
  font-weight: 500;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes changingText {
  0% {
    content: "Med fokus på design og brukervennlighet";
  }
  20% {
    content: "UX/UI";
  }
  40% {
    content: "Web design";
  }
  60% {
    content: "Tilgjengelighet/WCAG";
  }
  80% {
    content: "Webutvikling";
  }

  100% {
    content: "Med fokus på design og brukervennlighet";
  }
}

//skills section
.skillsSection {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;

  //   ::after {
  //     position: absolute;
  //     content: "";
  //     inset: 0;
  //     clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  //     background-color: var(--secondary-bg);
  //     z-index: 2;
  //   }

  //   @media screen and (prefers-color-scheme: dark) {
  //     ::after {
  //       position: absolute;
  //       content: "";
  //       inset: 0;
  //       clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  //       background-color: var(--secondary-gray);
  //       z-index: 2;
  //     }
  //   }
  //   @media screen and (prefers-color-scheme: light) {
  //     ::after {
  //       position: absolute;
  //       content: "";
  //       inset: 0;
  //       clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  //       background-color: var(--secondary-gray);
  //       z-index: 2;
  //     }
  //   }
  h2 {
    font-size: 2em;
    text-align: center;
  }
  p {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 500px;
    text-align: center;
  }
}

.technologies {
  display: flex;
  flex-flow: row wrap;
  //   align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 100px;

  title {
    background-color: pink;
    width: 30px;
    height: 30px;
  }
  div {
    height: 75px;
    width: 75px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 75%;
      height: auto;
      max-height: 60px;
    }
  }
}
